.myicons{
    font-size: 3rem;
    margin: auto;
}
.iconname{
    margin: auto;
    text-align: center;
}
.newscard_image{
    height:50vh;
}
.newscard{
    width:50vw;
}
@media screen and (max-width:600px) {
    .newscard{
        width:90vw
    }
}
@media screen and (max-width:400px){
    .newscard{
        width:95vw;
    }
}
.enlargeonhover{
    box-shadow: 5px 5px 10px rgb(53, 52, 52);
}